--langdef=PML
--langmap=pml:.pmlobj.pmlfrm.pmlfnc
--regex-pml=/^[ \t]*member[ \t]+[\.]([a-zA-Z0-9_ ]+)/\1/v,members/
--regex-pml=/^[ \t]*define[ \t]+method[ \t]+[\.]([a-zA-Z0-9_\(\)\!, ]+)/\1/m,methods/
--regex-pml=/^[ \t]*define[ \t]+function[ \t]+([a-zA-Z0-9_\(\)\!, ]+)/\1/f,functions/
--regex-pml=/^[ \t]*define[ \t]+object[ \t]+([a-zA-Z0-9_]+)/\1/c,classes/
--regex-pml=/^[ \t]*setup[ \t]+form[ \t]+([a-zA-Z0-9_\!]+)/\1/g,forms/
